body{
  /*background-color: #e2aeef;*/
  margin-left: auto;
  margin-right: auto;
  width: 45%
}

h1{
  text-align: center;
}

.floor-select{
  margin-top: 10px;
  margin-bottom: 10px;
}

.maps_placeholder{
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

.next-btn{
  margin-top: 10px;
  float: right;
}

.maps_placeholder{
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

.CloseMapPic{
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto
}


#OpenRooms ul{
  list-style: none;
}

#OpenRooms .TimeFrame{
  font-size: 18px;
}
.Biz{
  position: relative;
  top:-5px;
  margin: 5px;
  padding: 0px;
}
#OpenRooms .Biz li{
  width: 140px;
  align-items: center;

}

#OpenRooms ul li{
  list-style: none;
  background-color: #967bb6;
  width: 150px;
  border: 1px solid white;
  height:50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: white;
  font-size: 19px;
  border-radius: 20px;

}
.buttons{
  position: relative;
  top:110px;
}
#Rooms{
  font-size: 22px;
  font-weight: bold;
  ;position: relative;
  top:5px;
}
