body{
  /*background-color: #e2aeef;*/
  margin-left: auto;
  margin-right: auto;
  width: 45%
}

.full-body{
  width: 100%;
}

h1{
  text-align: center;
}

.floor-select{
  margin-top: 10px;
  margin-bottom: 10px;
}

.maps_placeholder{
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

.next-btn{
  margin-top: 10px;
  float: right;
}

.maps_placeholder{
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#CloseMapPic{
  width: 72%;
}

.img-magnifier-container {
  position:relative;
  float:right;
  width: 65%;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 20%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 125px;
  height: 125px;
}


.room-info-wing-closeup{
  width: 48.5%;
  margin: 0.73%;
  display: inline-block;
}

.room-info-wing-closeup-header{
  text-align: center;
  cursor: pointer;
}

.room-info-wing-closeup-header:hover{
  background-color: #0067d6;
}

.OpenRooms{
  margin-left: 5px;
  width: 30%;
  display: inline-block;
  cursor: default;
}

.hidden-default{
  display: none;
}

.nice-top-margin{
  margin-top: 35px;
}

h5{
  margin-top:10px;
}

.top-back-btn{
  float:left;
  margin-left:15px;
  margin-top:7px;
}

.avail-rooms{
  overflow-y: scroll;
  height: 70.3vh;
}

.right-padding{
  padding-right: 3px;
}

#availableRooms{
  width: 100%;
}

#PreBtn{
  margin-bottom: 5px;
}
